@media screen and (max-width: 600px) {

  /* header section with some primary shared styles */
  .header{
    width: 100%;
  }
  .nav-container .nav-logo-name {
    flex: 1;
    gap: 6px;
}

.nav-container .nav-list-container {
    display: none;
}

.nav-bars-icon {
    display: block;
    position: relative;
    right: 5%;
}


  .banner,
  .popular {
    width: 89%;
  }

  .banner-container{
    padding: 5px;
  }

  .banner-container .form .banner-filter-form, .newsletter-container {
    flex-direction: column;
  }
  .banner-container .form .banner-filter-form #select {
    position: absolute;
    left: 90%;
    top: 60%;
    border: none;
  }
  .banner-container .form .banner-filter-form #option {
    position: absolute;
    left: 90%;
    top: 35%;
    border: none;
  }
  .banner .banner-container .travel-content .travel-banner-description,.banner-container .travel-content .travel-banner-title{
    width: 100%;
  }

  .banner-container .form .banner-filter-form .input, .banner-container .form .banner-filter-form .btn1{
    width: 100%;
  }

  /* popular section started */

  .popular-content {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .popular .popular-container {
    flex-direction: column;
    margin-top: 100px;
    gap: 0px;
  }
  .popular-pic img{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .popular .popular-container .popular-content .btn2 {
    margin: 50px auto;
    width: fit-content;
    height: auto;
  }
  .popular .popular-container .popular-content .btn2{
    width: 30%;
    height: 50%;
  }
/* destination section started */

  .destination-container .destination-img-container,.choose-container .choose-card{
    display: flex;
    flex-direction: column;
  }
  .destination-section .grid-container .grid-img-1 .gt-1 {
    left: 37%;
  }
  .destination-container .destination-img-container .grid-item-2 .gt-2 {
    left: 37%;
  }
  .destination-container .destination-img-container .grid-item-3 .gt-3 {
    top: 47%;
    left: 37%;
  }
  .destination-container .destination-img-container .grid-item-4 .gt-4{
    left: 28%;
    top: 42%;
  }
  .destination-container .destination-img-container .grid-item-5 .gt-5 {
    top: 45%;
    left: 37%;
  }
  .destination-container .destination-img-container .grid-item-6 .gt-6 {
    left: 32%;
    top: 45%;
  }
  .destination-container .destination-img-container .grid-item-7  .gt-7 {
    top: 37%;
    left: 35%;
  }

    /* choose section started */

  .choose-container{
    width: 85%;
    height: auto;
  }
  .choose-container .choose-card{
    flex-direction: column;
  }
  .choose-container .choose-card .card1{
    width: 100%;
    height: 289px;
  }
  .choose-container .choose-card .card2{
    width: 100%;
    height: 289px;

  }
  .choose-container .card3{
    width: 100%;
    height: 289px;

  }
  .card1,.card2, .card3{
    padding: 0px;
  }

  .newsletter-container .newsletter-img{
    width: 100%;
    position: relative;
  }
  .newsletter-container .newsletter-img img {
    width: 100%;
    height: auto;
  }

  .newsletter-container .newsletter-img .newsletter-content-img{
    width: 48%;
    height: 30%;
    position: absolute;
    bottom: 18%;
    transform: rotate(-30deg);
    align-items: center;
    font-size: x-small;
  }

  .newsletter-container .newsletter-content form input{
    width: 100%;
  }


  .footer .footer-container {
    width: 90%;
  }

  .footer-title-main{
    padding-left: 10px;
    padding-right: auto;
  }
  
  
  .visited .visited-container .visited-place-img-container{
    display: flex;
    flex-direction: column-reverse;
  }

}



