@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,500;1,600&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
/* Common Shared Styles */

.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.primary-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}
/* Start Header Section From Here  */
.banner {
  width: 81%;
  max-width: 1170px;
  height: auto;
  max-height: 500px;
  margin: 50px auto;
}
.banner-container {
  color: #fff;
  padding: 106px;
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group-13.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  position: relative;
}
.banner-container .travel-content .travel-banner-title {
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 24px;
}
.banner .banner-container .travel-content .travel-banner-description {
  width: 67%;
  max-width: 676px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}

.banner-container .form .banner-filter-form {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

.banner-container .form .banner-filter-form .input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  padding-left: 16px;
  border: none;
}

.banner-container .form .banner-filter-form #select {
  position: absolute;
  left: 70%;
  top: 40%;
  border: none;
}
.banner-container .form .banner-filter-form #option {
  position: absolute;
  left: 44%;
  border: none;
}
.banner-container .form .banner-filter-form .btn1 {
  width: 176px;
  height: 52px;
}
.banner-container .form .banner-filter-form .btn1 .search1 {
  position: relative;
  top: 5px;
  right: 3px;
}

popular section 

.popular {
  width: 81%;
  max-width: 1170px;
  height: auto;
  margin: 100px auto;
}
.popular .popular-container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: auto;
  gap: 53px;
}
.popular .popular-container .popular-content .popular-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular .popular-container .popular-content .primary-description .ul {
  padding-left: 50px;
}
.popular .popular-container .popular-content .btn2 {
  margin-top: 32px;
  width: 174px;
  height: 52px;
}
.popular .popular-container .popular-pic img{
    width: fit-content;

}




.destination-container {
    width: 81%;
    max-width: 1170px;
    margin: 100px auto;
  }
  
  .destination-container .destination-content {
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .destination-container .destination-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
  }
  .destination-container .destination-content .primary-description {
    width: 55%;
    text-align: center;
    margin: 24px auto 0px auto;
  }
  
  .destination-container .destination-img-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
  }
  .destination-container .destination-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
      ),
      url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  .destination-container .destination-img-container .grid-item-1 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    position: relative;
    order: 1;
  }
  .destination-container .destination-img-container .grid-item-2 {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    position: relative;
    order: 2;
  }
  .destination-container .destination-img-container .grid-item-3 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    position: relative;
    order: 3;
  }
  .destination-container .destination-img-container .grid-item-4 {
    grid-column: 5 / span 5;
    grid-row: 2 / span 1;
    position: relative;
    order: 4;
  }
  .destination-container .destination-img-container .grid-item-5 {
    grid-column: 10 / span 3;
    grid-row: 2 / span 1;
    position: relative;
    order: 5;
  }
  .destination-container .destination-img-container .grid-item-6 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    position: relative;
    order: 6;
  }
  .destination-container .destination-img-container .grid-item-7 {
    grid-column: 6 / span 7;
    grid-row: 3 / span 1;
    position: relative;
    order: 7;
  }
  
  .destination-container .destination-img-container .gt-1,.gt-2,.gt-3,.gt-6,.gt-7 {
    color: #fff;
    position: absolute;
    font-size: 28px;
    font-weight: 800;
    left: 40%;
    top: 50%;
  }
  .destination-container .destination-img-container .gt-4, .gt-5{
    color: #fff;
    position: absolute;
    font-size: 28px;
    font-weight: 800;
    left: 32%;
    top: 50%;
  }