@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,500;1,600&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
/* Common Shared Styles */

.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

/* Start Header Section From Here  */
.banner {
  width: 81%;
  max-width: 1170px;
  height: auto;
  max-height: 500px;
  margin: 50px auto;
}
.banner-container {
  color: #fff;
  padding: 106px;
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url("../Images/Group-13.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  position: relative;
}
.banner-container .travel-content .travel-banner-title {
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 24px;
}
.banner .banner-container .travel-content .travel-banner-description {
  width: 67%;
  max-width: 676px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}

.banner-container .form .banner-filter-form {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

.banner-container .form .banner-filter-form .input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  padding-left: 16px;
  border: none;
}

.banner-container .form .banner-filter-form #select {
  position: absolute;
  left: 70%;
  top: 40%;
  border: none;
  
}
.banner-container .form .banner-filter-form  #option{
    position: absolute;
    left: 44%;
    border: none;
}
.banner-container .form .banner-filter-form .btn1 {
  width: 176px;
  height: 52px;
}
.banner-container .form .banner-filter-form .btn1 .search1 {
    position: relative;
    top: 5px;
    right: 3px;
}
