@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,500;1,600&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

* css variable custom property */ 
:root {
  --primary-title-color: #ff5400;
  --primary-font-color: rgba(19, 19, 24, 0.7);
  --secondary-font-color: #5a5a5d;
}



/* Common Shared Styles */

.primary-img {
  position: absolute;
  top: 120px;
  right: 16px;
}

.hero {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

.primary-special {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}

.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.primary-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}



/* this class and style is related with phone or small size devices */
.nav-bars-icon {
  font-size: 2rem;
  border: 0;
  background: none;
  display: none;
}

/* header section css is here  */
.header {
  width: 81%;
  max-width: 1170px;
  height: auto;
  margin: 50px auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-logo-name {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-logo {
  width: 56px;
  object-fit: cover;
}

.nav-container .nav-logo-name .nav-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-container .nav-list-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: #424247;
  font-size: 1.13rem;
}

.nav-container .nav-list-container,.nav-container .nav-list-container li a{
  list-style: none;
  text-decoration: none;
}
.nav-container .nav-list-container li a{

  color: #424247;
}

.nav-container .nav-list-container #list-home {
  color: #FF5400;
  font-weight: 700;
}


.banner {
  width: 100%;
  max-width: 1170px;
  height: auto;
  max-height: 500px;
  margin: 50px auto;
}
.banner-container {
  color: #fff;
  padding: 106px;
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group-13.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  position: relative;
}
.banner-container .travel-content .travel-banner-title {
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 24px;
}
.banner .banner-container .travel-content .travel-banner-description {
  width: 67%;
  max-width: 676px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}

.banner-container .form .banner-filter-form {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

.banner-container .form .banner-filter-form .input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  padding-left: 16px;
  border: none;
}

.banner-container .form .banner-filter-form #select {
  position: absolute;
  left: 70%;
  top: 40%;
  border: none;
}
.banner-container .form .banner-filter-form #option {
  position: absolute;
  left: 44%;
  border: none;
}
.banner-container .form .banner-filter-form .btn1 {
  width: 176px;
  height: 52px;
}
.banner-container .form .banner-filter-form .btn1 .search1 {
  position: relative;
  top: 5px;
  right: 3px;
}
/* popular section start  */
popular section .popular {
  width: 81%;
  max-width: 1170px;
  height: auto;
  margin: 100px auto;
}
.popular .popular-container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: auto;
  gap: 53px;
}
.popular .popular-container .popular-content .popular-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular .popular-container .popular-content .primary-description .ul {
  padding-left: 50px;
}
.popular .popular-container .popular-content .btn2 {
  margin-top: 32px;
  width: 174px;
  height: 52px;
}

/* destination section start  */

.destination-container {
  width: 81%;
  max-width: 1170px;
  margin: 100px auto;
}

.destination-container .destination-content {
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.destination-container .destination-content h3 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.destination-container .destination-content .primary-description {
  width: 55%;
  text-align: center;
  margin: 24px auto 0px auto;
}

.destination-container .destination-img-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}
.destination-container .destination-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.destination-container .destination-img-container .grid-item-1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  position: relative;
  order: 1;
}
.destination-container .destination-img-container .grid-item-2 {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
  position: relative;
  order: 2;
}
.destination-container .destination-img-container .grid-item-3 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  position: relative;
  order: 3;
}
.destination-container .destination-img-container .grid-item-4 {
  grid-column: 5 / span 5;
  grid-row: 2 / span 1;
  position: relative;
  order: 4;
}
.destination-container .destination-img-container .grid-item-5 {
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
  position: relative;
  order: 5;
}
.destination-container .destination-img-container .grid-item-6 {
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
  position: relative;
  order: 6;
}
.destination-container .destination-img-container .grid-item-7 {
  grid-column: 6 / span 7;
  grid-row: 3 / span 1;
  position: relative;
  order: 7;
}

.destination-container .destination-img-container .gt-1,
.gt-2,
.gt-3,
.gt-6,
.gt-7 {
  color: #fff;
  position: absolute;
  font-size: 28px;
  font-weight: 800;
  left: 40%;
  top: 50%;
}
.destination-container .destination-img-container .gt-4,
.gt-5 {
  color: #fff;
  position: absolute;
  font-size: 28px;
  font-weight: 800;
  left: 32%;
  top: 50%;
}

/* Why Choose Us section styles */

.choose-container {
  width: 81%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
}
.choose-container .choose-content {
  text-align: center;
  align-items: center;
}
.choose-container .choose-content .box-title {
  font-weight: 800;
  font-size: 24px;
  color: #131318;
}
.choose-container .choose-card {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.choose-container .choose-card .card1 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding-left: 32px;
  padding-top: 32px;
}
.choose-container .choose-card .card2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding-left: 32px;
  padding-top: 32px;
}
.choose-container .card3 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding-left: 32px;
  padding-top: 32px;
  margin: 24px auto 0 auto;
}

/* Newsletter Section Start  */

.newsletter-container {
  display: flex;
  width: 81%;
  max-width: 1170px;
  text-align: center;
  gap: 24px;
  margin: 100px auto;
}

.newsletter-container .newsletter-content {
  padding: 40px;
}

.newsletter-container .newsletter-content h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.newsletter-container .newsletter-content p {
  color: #5a5a5d;
  width: 350px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

.newsletter-container .newsletter-content form input {
  display: flex;
  flex-direction: column;
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 24px;
}
.newsletter-container .newsletter-content form .subscribe {
  width: 100%;
  height: 52px;
}

.newsletter-container .newsletter-img .newsletter-content-img {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  position: relative;
  left: 50%;
  bottom: 33%;
}

/* footer section start */
.footer {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: rgba(19, 19, 24, 0.05);
}
.footer .footer-container {
  width: 60%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer-container .footer-content {
  padding-top: 110px;
  padding-bottom: 50px;
}
.footer .footer-container .footer-content .footer-title {
  margin-bottom: 15px;
}
.footer .footer-container .footer-icon {
  margin-top: 33px;
  margin-bottom: 50px;
}
.footer .footer-container .footer-icon a {
  margin-right: 10px;
}
.footer .footer-container .all-rights {
  padding-top: 50px;
  padding-bottom: 110px;
}

.footer-title-main{
  display: flex;
  text-align: center;
  padding-left: 25%;
}
.logo-img{
  position: relative;
  top: 20%;
  right: 2%;

}
